h1 {
	color: green; 
	font-size: 3em; 
}
/* Задание 2.1*/
p.one {
	color: red;
	font-size: 10pt;
	font-style: italic;
	text-align: left; 
}
p.two {
	border: 1px double yellow; /* Параметры границы */
	color: blue;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}
/* Задание 2.2*/
p.def {
	text-align: right;
	margin-left: 3cm;
        margin-right: 2cm;
}
/* Задание 2.3*/
p.onestil{
	background-color: grey;
	color: brown;
	padding: 0.5cm;
	text-align: left;
	text-align: right;	
}
p.twostil{
	background-color: #00CED1;
	padding: 0.5cm;
	margin-left: 1cm;
	margin-right: 1cm;
	font: sans-serif;	
}
/* Задание 2.4*/
div.onestil{
	background-color: grey;
	color: brown;
	padding: 0.5cm;
	text-align: left;
	text-align: right;	
}
div.twostil{
	background-color: #00CED1;
	padding: 0.5cm;
	margin-left: 1cm;
	margin-right: 1cm;
	font: sans-serif;	
}
/* Задание 2.5*/
p.nb{
	border-style:dotted;
	width:50%;
	float:left;
	margin: 10px;
}
/* Задание 2.6 +++*/
p.cherta{
	 border-left: 2px solid #ccc; /* Параметры линии */ 
    	 margin-left: 20px; /* Отступ слева */
    	 padding-left: 10px; /* Расстояние от линии до текста */ 
	 border-right: 2px solid #ccc; /* Параметры линии */ 
    	 margin-right: 20px; /* Отступ слева */
    	 padding-right: 10px; /* Расстояние от линии до текста */  
 
}
/* Задание 2.7 ---*/

h2.ptwo{
        position: absolute;
        left: 310px;
        top: 200 px;
        z-index: 1;
        font-size: 50pt;
        color: #CCCCCC;
        } 

h3.ztwo{
        position: absolute;
        left: 310px;
        top: 200 px;
        z-index: 2;
        font-size: 30pt;
        color: #993300; 
        } 


/* Задание 2.8 ---*/
.bukva:first-letter
{
  font-size: 200%;
  font-style: italic;
  font-weight: bold;
  float: left;
  color: red;
  margin: 0 8px 2px 0;
}

.left
{
  width: 50%; 
  float: left; 
  height: 100%;
}

.right
{
  width: 50%; 
  height: 100%;
  float: right;
}

/* Задание 2.9 +++*/
.layer {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 300px; /* Ширина блока */
    height: 150px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
    border: solid 1px black; /* Параметры рамки */
   } 

/*Задание 3.1*/

#primer{ 
	/*позиционирование*/
	position:absolute;
	top: 295px;
	left: 295px;
	z-index: -1;
	font-size: 100px;
	color: grey;
	
}

#z-index{
	/*позиционирование*/
	position:absolute;
	top: 300px;
	left: 300px;
	z-index: 1;
	font-size: 100px;
	color: red;
}

/*Задание 3.2*/


#floatTip {
  position: absolute; 
	top: 300px;
	left: 300px;
  border: 1px solid red; 
  padding: 5px; 
  font-family: sans-serif; 
  font-size: 9pt; 
  color: #333; 
  background: #ECF5E4; 
}

/*Задание 3.3*/

#primerr1{ 
	position:absolute;
	top: 250px;
	left: 50px;
	font-size: 100px;
	color: red;
}
#primerr2{ 
	position:absolute;
	top: 240px;
	left: 60px;
	font-size: 100px;
	color: blue;
}
#primerr3{ 
	position:absolute;
	top: 230px;
	left: 70px;
	font-size: 100px;
	color: green;
}
#primerr4{ 
	position:absolute;
	top: 220px;
	left: 80px;
	font-size: 100px;
	color: yellow;
}